.fondoPagina
{
  background: white !important;
}

.encabezadoUsuario /*Texto en el encabezado que indica el perfil del usuario*/
{
  color: white !important;
  background: #088A08;

  padding-top: 10px;
  padding-bottom: 5px;
  min-height: 59px;

  position: fixed;
  width: 100%;
}

.encabezadoTitulo
{
  font-size: 18pt;
  margin-right: 10px;
}

.opcionEncabezado, .opcionEncabezado:active, .opcionEncabezado:focus
{
  background: transparent;
  border-radius: 0px;
  color: white;

  outline: none !important;
  box-shadow: none;
}

.opcionEncabezado:hover
{
  border-radius: 0px;
  border: 0px;
  border-left: 2px solid #eaaa00;
  border-right: 2px solid #eaaa00;
  color: white;
}

.claseTitulo
{
  font-size: 24pt;
  font-family: cursive;
  color: white !important;
}

a:link
{
  text-decoration:none;
}

.barraNavegacionHamburguesa /*Color de las barras en el boton de hamburguesa*/
{
  background: white;
}

.barraNavegacionBoton  /*Boton de hamburguesa de la barra de navegacion en xs*/
{
  background: transparent;
  border: 2px solid #eaaa00;
  margin-top: -3px;
}
/*--------------------- Barra de Navegación ----------------------------*/

.encabezadoUsuario .navbar-nav > li > a /*Opciones principales de la barra de navegación*/
{
  background: transparent !important;
  color: white;
  font-size: 14pt;
  border-radius: 0px;
  box-shadow: none;
  margin-top: -7px;
}

.encabezadoUsuario .navbar-nav > li:hover > a /*en las opciones principales de la barra de navegación*/
{
  color: #d2e4fb;
  cursor: pointer !important;
  border-right: 2px solid #eaaa00;
  border-left: 2px solid #eaaa00;
}

.dropdownOpcion /*Opciones de los dropdown list*/
{
  color: #081e3b !important;
  border-bottom: solid 1px #2076ED;;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 12pt;
}

.dropdownOpcion:hover, .dropdownOpcion:focus, .dropdownOpcion:active  /*Hover en las opciones de las dropdown list*/
{
  background-color: #2076ED !important;
  color: white !important;
  cursor: hand !important;
}

.barraNavegacionDropdown /*fondo de despliegue de los dropdown list */
{
  background: white;

  border-radius: 0px 0px 3px 3px;

  margin-top: -5px !important;
  margin-bottom: 5px !important;
}

@media (max-width: 767px)
{
  .encabezadoUsuario .navbar-nav > li > a /*Modificación de las opcines principales en la barra de navegación*/
  {
    border: solid 2px #2076ED;
    margin: 0px 10px 5px 10px;
    text-align: left;
  }

  .encabezadoUsuario .navbar-nav > li:hover > a /*Hover de las opciones principales en la barra de navegación*/
  {
    margin-bottom:3px;
    background: #2076ED!important;
    color: #d2e4fb;
    border: 2px solid #eaaa00;
  }

  .dropdownOpcion /*Opciones de las dropdown list*/
  {
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    border-bottom: 1px solid white;
    color: white !important;
  }

  .dropdownOpcion:hover /*Opciones de las dropdown list en hover*/
  {
    background: white !important;
    color: #2076ED !important;
  }

  .encabezadoTitulo
  {
    margin-left: 10px;
  }
}

/*------ SubMenu del encabezado -------------------*/
.dropdownsubmenu
{
  position: relative;
}

.dropdownsubmenu>.dropdown-menu
{
  top: 0;
  right: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 0px 0px 0px;
}

.dropdownsubmenu:hover>.dropdown-menu
{
  display: block;
}

.dropdownsubmenu>a:after {
  display: block;
  float: left;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdownsubmenu:hover>a:after {
  border-left-color: #fff;
}

.dropdownsubmenu.pull-left {
  float: none;
}

.dropdownsubmenu.pull-left>.dropdown-menu {
  left: 100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdownOpcion2level /*Opciones de los dropdown list*/
{
  margin-left: 40px;
  margin-right: 40px;
}



/*formulario solicitud amistad*/

.nt-btn-buscar-usr{
  background-color:transparent;
  border:none;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  height:32px;
  width:40px;
  outline: none !important;
}


.nt-entrada-busqueda-usr-sc, .nt-entrada-busqueda-usr-sc:focus{
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-color: #ddd;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  z-index: 0 !important;
}

.nt-entrada-busqueda-usr-cc, .nt-entrada-busqueda-usr-cc:focus{
  border-right: none !important;
  border-color: #ddd;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  z-index: 0 !important;
}

.nt-limpiar-texto-busqueda-usr{
  background-color: white !important;
  cursor: pointer;
}

.datos-busqueda-usuario{
  background-color: #f4f4f4;
  padding: 15px;
}

.resultado-solicitud-amistad, .estado-notificaciones, .estado-conversaciones{
  background-color: #f4f4f4;
  padding: 15px;
  font-size: 12pt;
}

.contenedor-elem-solic-amistad{
  max-height: 260px;
  margin-top: 30px;
  overflow-y: auto;
}

.contenedor-lista-notificaciones{
  max-height: 260px;
  overflow-y: auto;
}

.elemento-solicitud-amistad{
  border: 2px solid #ddd;
  padding: 15px 0;
  margin-bottom: 15px;
}

.elemento-notificacion{
  border: 2px solid #ddd;
  padding: 15px 0;
  margin-bottom: 15px;
}

.elemento-notificacion-noleida, .amigo-seleccionado, .elemento-conversacion-mensajes-novistos{
  background-color: #f1f1f1;
}

.nombre-solicitud-amistad{
  font-size:12pt;
}

.correo-solicitud-amistad{
  margin-bottom: 10px;
}

.btn-submitir{
  background-color: transparent;
  border:2px solid #1859B2;
  color: #1859B2;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 12pt;
  font-weight: bold;
}

.btn-submitir:hover{
  background-color: #1859B2;
  color: white;
}

.encabezado-tab-solc {
  font-size: 12pt;
}

.opc-solic-amistad .tab-pane {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #ddd;
}

.a-grupo-entrada{
  width: 100%;
}

.a-entrada, .a-entrada:focus{
  background-color: transparent;
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: #1859B2;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none !important;
  box-shadow: none;
  font-size: 11pt;
}

.a-nombre-entrada{
  font-weight: bold;
  color: #5e5e5e;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 8px;
  font-size: 12pt;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.a-entrada:focus ~ .a-nombre-entrada,
.a-entrada:not(:focus):valid ~ .a-nombre-entrada{
  top: -17px;
  left: 0;
  font-size: 12pt;
  color: #1859B2;
}


.addon-icono-entrada{
  background-color: transparent !important;
  border-width: 0 0 3px 0;
  border-color: #006f9c;
  border-style: solid;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #006f9c;
}

.a-limpiar-texto{
  background-color: transparent !important;
  border-width: 0 0 3px 0;
  border-color: #006f9c;
  border-style: solid;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
}

.a-limpiar-texto:hover>i{
  opacity: 1;
}

.a-limpiar-texto>i{
  opacity: 0.6;
}

.badge-notificaciones, .badge-conversaciones{
  background-color: red !important;
  color: white !important;
  margin-left: -10px;
  /*font-size: 14pt !important;*/
}

.xs-btn-notificaciones, .xs-btn-conversaciones{
  padding: 3px 5px;
  color: white !important;
  margin-right: 10px;
}

.xs-btn-notificaciones:hover, .xs-btn-conversaciones:hover{
  color: orange !important;
}

.xs-btn-notificaciones .badge-notificaciones{
  margin-bottom: 20px;
}

.alerta-notificacion{
  background-color: #1859B2;
  color: white;
}



.msj-notificacion, .remitente-notificacion{
  /*overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;*/
}

.fecha-notificacion{
  color: #696969;
  padding-top: 10px;
  font-size: 10pt;
  /*overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;*/
}

.opc-notificacion{
  padding-left: 5px;
  min-width:25px !important;
  width:25px !important;
}

.opc-notificacion button, .opc-conversacion button, .regresar-conversaciones button, .btn-enviar-mensaje button, .agregar-conversacion button{
  border:none;
  width: 100% !important;
  height: 100% !important;
  background-color: transparent;
  outline: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}




.xs-btn-conversaciones .badge-conversaciones{
  margin-bottom: 20px;
}

.contenedor-conv-mjs{
  max-height: 200px;
  overflow-y: auto;
}

.wrapper-encabezado-mdl-conversaciones{
  margin:0;
  padding:0;
  display:table;
  table-layout: fixed;
  width:100%;
  max-width:100%;
}

.regresar-conversaciones, .agregar-conversacion{
  display:table-cell;
  vertical-align: middle;
  width: 45px;
  font-size: 18pt;
  color: #1859B2;
}

.titulo-conversaciones{
  display:table-cell;
  padding: 0 5px;
  vertical-align: middle;
  font-size: 14pt;

  overflow-x:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.cerrar-modal-conversaciones{
  display:table-cell;
  vertical-align: middle;
  width:45px;
}

.elemento-conversacion{
  border: 2px solid #ddd;
  padding: 0;
  margin: 0 5px 10px 0 !important;
}

.wrapper-conversacion{
  margin:0;
  padding:0;
  display:table;
  table-layout: fixed;
  width:100%;
  max-width:100%;
}

.opc-conversacion{
  display:table-cell;
  vertical-align: middle;
  width:45px;
  padding:0 10px;
}

.datos-conversacion {
  display:table-cell;
  cursor:pointer;
  padding: 15px 10px 15px 0;
}

.nombre-conversacion, .contenido-conversacion{
  overflow-x:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 0px !important;
  height: 20px;
  max-height: 20px;
  overflow-y: hidden;
}

.fecha-conversacion{
  color: #696969;
  text-align: right;
  font-size: 10pt;
}


.wrapper-area-mensaje{
  margin:0;
  padding:0;
  display:table;
  table-layout: fixed;
  width:100%;
  max-width:100%;
}

.entrada-mensaje{
  display:table-cell;
}

.entrada-mensaje textarea, .entrada-mensaje textarea:focus{

  border-width: 2px;
  border-style: solid;
  border-color: #1859B2 !important;

  width: 100% !important;
  min-height: 34px !important;

  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 11pt;

}

.btn-enviar-mensaje{
  display:table-cell;
  vertical-align: middle;
  width:45px;
  color: #1859B2;
}

.btn-enviar-mensaje button[disabled]{
  opacity: 0.5 !important;
}

.wrapper-elemento-mensaje{
  display:table;
  table-layout: fixed;
  margin: 10px 0 0 0;
}

.contenido-mensaje{
  display:table-cell;

  background-color: #1859B2;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 12pt;
}


.contenido-mensaje-remitente{
  display:table-cell;

  background-color: #e2e2e2;
  color: black;
  border-radius: 5px;
  padding: 5px;
  font-size: 12pt;
}

.icono-error-mensaje {
  display:table-cell;
  vertical-align: middle;
  width:20px;
  color: red;
  padding: 0 0 0 5px;
}

.mensaje-error{
  display:table;
  table-layout: fixed;
  width:100%;
  max-width:100%;
  color: red;
}

.fecha-mensaje-conversacion{
  display:table;
  table-layout: fixed;
  width:100% !important;
  max-width:100% !important;

  color: #696969;
  font-size: 10pt;
}

@media (max-width: 768px){
  .opc-solic-amistad .tab-pane {
    border: 1px solid #ddd;
  }
}
