<div ng-controller="TemaController as tema">
   <!-- buscar -->
   <div class="col-xs-6">
        <div class="input-group" style="z-index:1">
            <div class="entrada2">
                <input type="text" required class="entrada form-control" name="buscar" ng-model="buscarTema"/>
                <label>Buscar</label>
            </div>

            <span class="input-group-btn">
                <button class="btn close cerrarModal"  ng-click="LimpiarBuscar(1)"><span aria-hidden="true">&times;</span></button>
            </span>
        </div>
   </div>
   
   <!-- agregar -->
   <div class="col-xs-6">
       <button class="btn  botonAgregar pull-right" ng-click="AbrirTema('Agregar', null)"><span class="fa fa-plus"></span> Agregar</button>
   </div>
   
   <br><br><br>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="TituloTabla">
              <tr>
                <th><button class="btn btn-block botonTablaOrdenar" ng-click="CambiarOrdenarTema('Nombre')"><b>Nombre </b><b ng-if="ordenarTema === 'Nombre'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarTema === '-Nombre'" class="fa fa-arrow-down"></b></button></th>
                <th><button class="btn botonTablaNormal"><b>Editar</b></button></th>
              </tr>
            </thead>
            <tbody ng-repeat="tema in tema | orderBy:ordenarTema | filter:buscarTema">
              <tr>
                  <td style="font-size:14pt">
                     {{tema.Nombre}} 
                  </td>

                <td class="text-center">
                    <a  class="botonTablaOperacion" href="" data-toggle="modal" data-target="#" ng-click="AbrirTema('Editar', tema)">
                        <span class="fa fa-pencil fa-2x" ></span>
                    </a>
                </td>

              </tr>
            </tbody>
        </table>
    </div>
    
    <!-- -----------------------Modales -------------------------- -->
	<div class="modal fade sombraDivModal" id="modalTema" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal">
           
           <div class="row">
                <div class="col-xs-12">
                    <!-- Alertas -->
                    <div class="alertaMensaje" id="alertaExitoso">
                        <div class="alert alertaExtito">
                            <!--<button type="button" class="close" data-dismiss="alert">x</button>-->
                            <span class="fa fa-check-circle-o fa-2x textIconoExito" style="font-size:16pt"></span>
                            <strong style="display: inline-block;">{{mensaje}}</strong>
                        </div>
                    </div>
                </div>
            </div> 
            
            <form name="temaForma">
               
               <div class="row">
                   
                    <div class=" col-xs-12">
                        <a style="border: none !important; font-size:12pt" class="btn botonFinModal" ng-click="CerrarTema()">CANCELAR</a>
                        <a style="border: none !important; font-size:12pt"  focus class="btn botonFinModal pull-right" ng-click="TerminarTema(temaForma.nombre.$invalid)">TERMINAR</a>
                    </div>
                </div>
                <br>
                
                <div class="row">
                    <div class="col-xs-12">
                        <!-- <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ng-click="CerrarTema()"><span aria-hidden="true">&times;</span></button>-->
                        <span ng-if="operacion == 'Agregar' || operacion == 'AgregarExterior'" class="tituloModal">Agregar Tema</span>
                        <span ng-if="operacion == 'Editar'" class="tituloModal">Editar Tema</span>
                    </div>
                </div>
                
                <br><br><br>
                
                <div class="row">
                    <div class="col-sm-12">
                       <div class="entrada2">
                            <input type="text" required class="{{claseTema.nombre}} form-control" name="nombre" ng-model="nuevoTema.Nombre" ng-maxlength="250"/>
                            <label>Tema</label>
                        </div>
                   </div>             
                </div>
                <br>
                <!---- botones de operacion -->
                <!--<div class="row">
                    <div class="col-xs-6">
                        <button class="btn botonFinModal btn-block" data-dismiss="modal" aria-label="Close" ng-click="CerrarTema()">CANCELAR</button>
                    </div>

                    <div class="col-xs-6">
                        <button focus class="btn botonFinModal btn-block" ng-click="TerminarTema(temaForma.nombre.$invalid)">TERMINAR</button>
                    </div>
                </div>-->
            <br>
            </form> 
            
        </div>
    </div>
    
    <div class="modal fade sombraDivModal" id="cerrarTemaModal">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal text-center">
           
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">¿Estas seguro de salir sin guardar los cambios?</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close">No</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarCerrarTema()">Si</button>
                </div>
            </div>
                        
        </div>
    </div>
    
    <div class="modal fade sombraDivModal" id="mensajeTema">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal">
           
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center textoError">
                        <span class=" fa fa-times-circle-o fa-3x"></span><br>
                        <span>¡Error!</span>
                    </div>
                    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                     <div ng-repeat="error in mensajeError">
                        <span>{{error}}</span>
                    </div>
                </div>
            </div>
            <br><br>
         
            <div class="row">
                <button class="btn botonModalError" data-dismiss="modal" aria-label="Close">Aceptar</button> 
            </div>

        </div>
    </div>
    
    <!-- Alertas -->
    <div class="alertaMensaje" id="alertaEditarExitoso">
        <div class="alert alertaExtito">
            <!--<button type="button" class="close" data-dismiss="alert">x</button>-->
            <span class="fa fa-check-circle-o fa-2x textIconoExito" style="font-size:16pt"></span>
            <strong style="display: inline-block;">{{mensaje}}</strong>
        </div>
    </div>
    
</div>

    