<div ng-controller="InformacionController as informacion">


    <div class="container-fluid">

        <!-- Barra de Busqueda -->
        <div class="barraBuscarInformacion">

            <div class="row ">
               <div class="col-xs-12">

                   <div class="input-group input-group-lg">

                     <!-- tipo de busqueda -->
                      <span class="input-group-btn">
                           <button type="button" class="btn botonBuscarFiltro dropdown-toggle" style="width: 133px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-search"></span> {{campoBuscar}}
                           </button>
                            <ul class="dropdown-menu dropdown-menu-left" style=" border-radius:0px">

                             <li><a href="" ng-click="CambiarCampoBuscar('Conceptos')" class="dropdownOpcion2">
                                  Conceptos
                              </a></li>

                              <!--<li><a href="" ng-click="CambiarCampoBuscar('Etiquetas')" class="dropdownOpcion2">
                                  Etiquetas
                              </a></li>
                              <li><a href="" ng-click="CambiarCampoBuscar('Temas')" class="dropdownOpcion2">
                                  Temas
                              </a></li>-->
                              <li><a href="" ng-click="CambiarCampoBuscar('Contenido')" class="dropdownOpcion2">
                                  Contenido
                              </a></li>
                            </ul>
                      </span>

                      <!-- entradas -->
                      <input onclick="this.setSelectionRange(0, this.value.length)" ng-show="campoBuscar=='Contenido'" type="text" class="form-control inputBuscar" placeholder="Buscar" aria-describedby="sizing-addon1" ng-model="buscarInformacion" id="bucarContenido">

                      <input ng-show="campoBuscar=='Conceptos'" type="text"  placeholder="Consultar" class="inputBuscar form-control" name="buscarConceptoFiltro" ng-model="buscarConcepto" id="buscarConcepto" autocomplete="off">

                      <!--<input autofocus ng-show="campoBuscar=='Etiquetas'" type="text"  placeholder="Buscar" class="inputBuscar form-control" name="buscarEtiquetaFiltro" ng-model="buscarEtiqueta" id="bucarEtiqueta" autocomplete="off">

                      <input ng-show="campoBuscar=='Temas'" type="text"  placeholder="Buscar" class="inputBuscar form-control" name="buscarTemaFiltro" ng-model="buscarTema" id="bucarTema" autocomplete="off">-->

                      <div ng-show="buscarConcepto.length > 0" class="dropdown-menu modalAgregarDropdown" style="margin-left:130px; padding: 5px">

                         <li><a href=""  ng-click="SetFiltroEtiqueta(etiqueta)" class="dropdownOpcion2 text-left" ng-repeat="etiqueta in etiquetaF | filter:BuscarEtiquetaFiltro | orderBy:'Nombre'" ng-show="etiqueta.mostrar">
                              {{etiqueta.Nombre}}
                          </a></li>

                          <li><a href="" ng-click="SetFiltroTema(tema)" class="dropdownOpcion2" ng-repeat="tema in temaF | filter:BuscarTemaFiltro | orderBy:'Nombre'"  ng-show="tema.mostrar">
                              {{tema.Nombre}}
                          </a></li>

                      </div>


                      <!-- origen de informacion -->
                      <span class="input-group-btn">

                         <button class="btn botonBuscarFiltro hidden-xs" ng-click="LimpiarBuscar()" style="border-width: 0px; border-right: 3px solid #1859b2; border-radius: 0px !important">
                               <span class="fa fa-times-circle" ></span>
                            </button>

                           <button class="btn botonBuscarFiltro hidden-xs" ng-class="{noActivo: !filtro.origen.texto}" ng-click="CambiarFiltroOrigen(1, filtro.origen.texto)">
                               <span class="fa fa-commenting-o"></span>
                            </button>

                           <button class="btn botonBuscarFiltro  hidden-xs" ng-class="{noActivo: !filtro.origen.imagen}" ng-click="CambiarFiltroOrigen(2, filtro.origen.imagen)">
                               <span class="fa fa-file-image-o"></span>
                           </button>
                           <button class="btn botonBuscarFiltro  hidden-xs" ng-class="{noActivo: !filtro.origen.archivo}" ng-click="CambiarFiltroOrigen(3, filtro.origen.archivo)">
                               <span class="fa fa-file-text-o"></span>
                           </button>


                           <button type="button" class="btn botonBuscarFiltro dropdown-toggle hidden-sm hidden-md hidden-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-caret-down"></span>
                           </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li><a href="" ng-click="CambiarFiltroOrigen(1, filtro.origen.texto)" class="botonBuscarFiltro" ng-class="{noActivo: !filtro.origen.texto}">
                                  <span class="fa fa-commenting-o"></span> Textos
                              </a></li>
                              <li><a href="" ng-click="CambiarFiltroOrigen(2, filtro.origen.imagen)" class="botonBuscarFiltro" ng-class="{noActivo: !filtro.origen.imagen}">
                                   <span class="fa fa-file-image-o"></span> Imagen
                              </a></li>
                              <li><a href="" ng-click="CambiarFiltroOrigen(3, filtro.origen.archivo)" class="botonBuscarFiltro" ng-class="{noActivo: !filtro.origen.archivo}">
                                  <span class="fa fa-file-text-o"></span> Archivos
                              </a></li>
                            </ul>


                          <!--<button class="btn botonBuscarFiltro" type="button"><span class="fa fa-filter"></span></button>-->
                      </span>
                    </div>

               </div>
            </div>

        </div>

        <!-- barra lateral -->
        <div class="row">
           <div class="col-sm-3 col-xs-12 barraLateralActividad" style="width: 100%"> <!-- ng-show="anchoPantalla > 767 || detalle.ActividadId.length == 0" -->


                <!-- Separador -->
                <div class="row" style="height:131px">
                   <div class="col-xs-12  text-center" >
                   </div>
                </div>

                <!-- <div class="row panelOperacionBotonLateral" style="color:black">
                   <div class="col-xs-12 ">


                   </div>
                </div>-->


                <!-- Fitros -->
                <div class="row verFitros" ng-show="(filtro.tema.length + filtro.etiqueta.length) > 0">

                    <div class="col-xs-12">
                        <button class="btn botonFalsoTitulo"><b>Filtros</b></button>

                        <!-- Botones -->
                       <div class="pull-right btn-group">

                            <!-- Limpiar filtro -->
                            <button class="btn  botonFiltrarBarraLateral text-center" style="color:black" ng-click="LimpiarFiltro()" >
                               <span class="fa fa-ban" style="font-size:14pt"></span>
                           </button>

                           <!-- Ver Detalles -->
                           <button class="btn  botonDetallesActividad" ng-click="CambiarVerFiltro()">
                               <b class="fa fa-angle-double-right" ng-if="!verFiltro" style="font-size:18pt"></b>
                               <b class="fa fa-angle-double-up" ng-if="verFiltro" style="font-size:18pt"></b>
                           </button>

                        </div>

                    </div>


                    <!-- Etiquetas -->
                    <div class="col-xs-12" ng-show="filtro.etiqueta.length && verFiltro">
                        <b> Etiquetas: </b><br>
                        <span ng-repeat="etiqueta in etiquetaFiltrada | orderBy:'Nombre'">
                            <div class="btn-group" role="group" style="margin-bottom:8px">
                                <a class="btn campoAgregado" ng-click="QuitaretiqeutaFiltro(etiqueta)" style="font-size:10pt">{{etiqueta.Nombre}}</a>
                                <a class="btn campoAgregadoQuitar" style="font-size:10pt" ng-click="QuitaretiqeutaFiltro(etiqueta)"><span class="fa fa-times-circle"></span></a>
                            </div>
                        </span>
                    </div>

                    <!-- Temas -->
                    <div class="col-xs-12" ng-show="filtro.tema.length > 0 && verFiltro">
                        <b> Tema: </b><br>
                        <span ng-repeat="tema in temaFiltrado | orderBy:'Nombre'" >
                            <div class="btn-group" role="group" style="margin-bottom:8px">
                                <a class="btn campoAgregado" ng-click="QuitarTemaFiltro(tema)" style="font-size:10pt">{{tema.Nombre}}</a>
                                <a class="btn campoAgregadoQuitar" style="font-size:10pt" ng-click="QuitarTemaFiltro(tema)"><span class="fa fa-times-circle"></span></a>
                            </div>
                        </span>
                    </div>

                </div>

                <!-- Informacion -->
                <div class="row" ng-show="filtro.etiqueta.length > 0 || filtro.tema.length > 0 || buscarInformacion.length > 0">
                  <table>
                    <tbody>
                      <tr ng-repeat="informacion in informacion| orderBy:'Titulo' | filter:FiltroInformacionContenido | filter:FiltroInformacion" style="border-width: 1px 1px 0 0; border-color: #848484; border-style: solid;">
                        <td ng-click="verDetalle(informacion)">
                          <a class="btn itemBarraLateral" ng-class="GetClaseActividad(actividad.ActividadId)" style="border:0 !important;">

                              <div class="col-xs-12">
                                  <b   style="white-space: normal; overflow: hidden; font-size:12pt" >

                                     <span ng-if="informacion.OrigenInformacion.OrigenInformacionId =='1'" class="fa fa-commenting-o "></span>
                                     <span ng-if="informacion.OrigenInformacion.OrigenInformacionId =='2'" class="fa fa-file-image-o "></span>
                                     <span ng-if="informacion.OrigenInformacion.OrigenInformacionId =='3'" class="fa fa-file-text-o"></span>

                                      {{informacion.Titulo}}
                                  </b>
                              </div>
                              <div class="col-xs-12">
                                  <p class="textoDetalleBarra " data-ng-bind-html="informacion.Contenido" ></p>
                              </div>

                          </a>
                        </td>
                        <td style="background:white; color:#262626; padding:0 12px; width: 45px !important; max-width: 45px !important; overflow:hidden; cursor:pointer;" ng-click="RecomendarInformacion(informacion)">

                          <span class="fa fa-share-alt fa-lg"></span>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                    <!-- <a class="btn itemBarraLateral" ng-class="GetClaseActividad(actividad.ActividadId)" ng-repeat="informacion in informacion| orderBy:'Titulo' | filter:FiltroInformacionContenido | filter:FiltroInformacion" ng-click="verDetalle(informacion)">

                        <div class="col-xs-12">
                            <b   style="white-space: normal; overflow: hidden; font-size:12pt" >

                               <span ng-if="informacion.OrigenInformacion.OrigenInformacionId =='1'" class="fa fa-commenting-o "></span>
                               <span ng-if="informacion.OrigenInformacion.OrigenInformacionId =='2'" class="fa fa-file-image-o "></span>
                               <span ng-if="informacion.OrigenInformacion.OrigenInformacionId =='3'" class="fa fa-file-text-o"></span>

                                {{informacion.Titulo}}
                            </b>
                        </div>
                        <div class="col-xs-12">
                            <p class="textoDetalleBarra " data-ng-bind-html="informacion.Contenido" ></p>
                        </div>

                    </a> -->
                </div>

                <div class="row">
                    <div class="col-xs-12" ng-if="(informacion | filter:FiltroInformacionContenido  ).length == 0 || (informacion | filter:FiltroInformacion).length == 0">

                         <br>
                        <span style="color:black; font-size:18pt"> Sin Resultados </span>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!--------------------------------------- modals ---------------------------------------------------->
    <!---------- Detalles ---------------->
    <div class="modal fade" id="DetalleInformacion">
        <br>    <br>   <br>
        <div class="modal-dialog modal-lg modalPrincipal">

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                    <!-- titulo -->
                    <br>
                    <span class="tituloModal">{{detalle.Titulo}}</span>
                    <button class="btn botonDetallesActividad" ng-click="RecomendarInformacion(detalle)">
                      <b class="fa fa-share-alt"></b>
                    </button>
                    <button class="btn botonDetallesActividad" ng-click="CambiarMasDetalles()">
                           <b class="fa fa-angle-double-right" ng-if="!verMasDetalle"></b>
                           <b class="fa fa-angle-double-up" ng-if="verMasDetalle"></b>
                    </button>

                    <br>

                    <div ng-if="verMasDetalle">
                      <!-- Etiquetas -->
                       <span ng-if="detalle.Etiqueta.length > 0">
                           <br>
                            <b>Etiquetas: </b>
                            <span ng-repeat="etiqueta in detalle.Etiqueta | orderBy:'Nombre'">
                                <span  class="textoDetalle" ng-if="!$last">{{etiqueta.Nombre}}, </span>
                                <span  class="textoDetalle" ng-if="$last">{{etiqueta.Nombre}}.</span>
                            </span>

                       </span>

                       <!-- Temas -->
                       <span ng-if="detalle.Tema.length > 0">
                           <br>
                            <b>Temas: </b>
                            <span ng-repeat="tema in detalle.Tema | orderBy:'Nombre'">
                                <span  class="textoDetalle" ng-if="!$last">{{tema.Nombre}}, </span>
                                <span  class="textoDetalle" ng-if="$last">{{tema.Nombre}}.</span>
                            </span>
                       </span>

                       <!-- Fuente -->
                       <span ng-if="detalle.Fuente.Nombre.length > 0">
                           <br>
                            <b>{{detalle.Fuente.TipoFuente.Nombre}}: </b>
                            <span  class="textoDetalle">{{detalle.Fuente.Nombre}}.</span>

                       </span>

                       <!-- Seccion -->
                       <span ng-if="detalle.Seccion.length > 0">
                           <br>
                            <b>Seccion: </b>
                            <span  class="textoDetalle">{{detalle.Seccion}}.</span>

                       </span>

                       <!-- Tipo Informacio -->
                       <span ng-if="detalle.TipoInformacion.TipoInformacionId.length > 0">
                           <br>
                            <b>{{detalle.TipoInformacion.Nombre}}</b>

                       </span>

                       <!-- Observacion -->
                       <span ng-if="detalle.Observaciones.length > 0">
                           <br><br>
                            <b>Observaciones: </b>
                           <p ng-bind-html="detalle.ObservacionHTML"></p>
                       </span>

                    </div>

                </div>
            </div>

            <!-- Separador -->
            <div class="row">
                <div class="col-xs-12"> <div class="lineaSepadorGris"></div> </div>
            </div>


            <!-- imagen -->
            <div ng-if="detalle.OrigenInformacion.OrigenInformacionId == '2'">
               <br>
                <div class="row" ng-if="detalle.Archivo.length > 0">
                    <div class="col-xs-12">
                         <img   class="img-responsive center-block" ng-src="data:image/PNG;base64,{{detalle.Archivo}}"/>
                    </div>
                </div>

                <div class="row" ng-if="detalle.Archivo.length == 0">
                    <div class="col-xs-12">
                        <div class="imagenModuloVaciaDetalle">Sin Imagen</div>
                    </div>
                </div>
                <br>
            </div>
            <!-- Archivo -->
            <div ng-if="detalle.OrigenInformacion.OrigenInformacionId == '3'">
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-block botonPDF" style="font-size: 16pt" ng-disabled="detalle.Archivo.length == 0" ng-click="VerPDF(detalle)">
                            <span class=" fa fa-download"></span>
                            <span>Visualizar</span>
                        </button>
                    </div>
                </div>
                <br>
            </div>

            <br ng-if="detalle.OrigenInformacion.OrigenInformacionId == '1'">
            <!-- Contenido -->
            <div class="row">
                <div class="col-xs-12 detalleInformacion content" >
                    <p ng-bind-html="detalle.Contenido"></p>
                </div>
            </div>
            <br>
            <!-- Observaciones -->
            <!--<div class="row" ng-if="detalle.Observacion.length > 0">
                <div class="col-sm-12">
                    <label>Observaciones </label><br>
                    <div class="textoDescripcionModal">
                        <span ng-bind-html="detalle.ObservacionHTML"></span>
                    </div>
                </div>
            </div>-->
            <br  ng-if="detalle.Observacion.length > 0">

        </div>
    </div>

</div>
