<div ng-controller="TipoInfomacionController as tipoInformacion">
    
    <!-- -----------------------Modales -------------------------- -->
	<div class="modal fade sombraDivModal" id="modalTipoInformacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal">
           
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ng-click="CerrarTipoInformacionModal()"><span aria-hidden="true">&times;</span></button>
                    <span ng-if="operacion == 'Agregar' || operacion == 'AgregarExterior'" class="tituloModal">Agregar Tipo Fuente</span>
                    <span ng-if="operacion == 'Editar'" class="tituloModal">Editar Tipo Fuente</span>
                </div>
            </div>
            <br><br><br>
            
            <form name="tipoInformacionForma">
                <div class="row">
                    <div class="col-sm-12">
                       <div class="entrada2">
                            <input type="text" required class="{{claseTipoInformacion.nombre}} form-control" name="nombre" ng-model="nuevoTipoInformacion.Nombre" ng-maxlength="120"/>
                            <label>Nombre</label>
                        </div>
                   </div>             
                </div>
                <br>
                <!-------- mensaje de error ---->
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-repeat="error in mensajeError">
                            <span class="textoError">{{error}}</span>
                        </div>
                    </div>
                </div>
                <br>
                <!---- botones de operacion -->
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn botonFinModal btn-block" data-dismiss="modal" aria-label="Close" ng-click="CerrarTipoInformacionModal()">CANCELAR</button>
                    </div>

                    <div class="col-xs-6">
                        <button focus class="btn botonFinModal btn-block" ng-click="TerminarTipoInformacion(tipoInformacionForma.nombre.$invalid)">TERMINAR</button>
                    </div>
                </div>
            <br>
            </form> 
            
        </div>
    </div>
    
    
    <div class="modal fade sombraDivModal" id="mensajeTipoInformacion">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal text-center">
           
            
            
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">{{mensaje}}</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn  botonFinModal" data-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

    