<div ng-controller="TemaController as tema">
   <!-- buscar -->
   <div class="col-xs-6">
       <div class="entrada2">
            <input type="text" required class="entrada form-control" name="buscar" ng-model="buscarTema"/>
            <label>Buscar</label>
        </div>
   </div>
   
   <!-- agregar -->
   <div class="col-xs-6">
       <button class="btn  botonAgregar pull-right" ng-click="AbrirTema('Agregar', null)"><span class="fa fa-plus"></span> Nuevo</button>
   </div>
   
   <br><br><br>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="TituloTabla">
              <tr>
                <th><button class="btn btn-block botonTablaOrdenar" ng-click="CambiarOrdenarTema('Nombre')"><b>Nombre </b><b ng-if="ordenarTema === 'Nombre'" class="fa fa-arrow-up"></b>  <b ng-if="ordenarTema === '-Nombre'" class="fa fa-arrow-down"></b></button></th>
                <th><button class="btn botonTablaNormal"><b>Editar</b></button></th>
              </tr>
            </thead>
            <tbody ng-repeat="tema in tema | orderBy:ordenarTema | filter:buscarTema">
              <tr>
                  <td style="font-size:14pt">
                     {{tema.Nombre}} 
                  </td>

                <td class="text-center">
                    <a  class="botonTablaOperacion" href="" data-toggle="modal" data-target="#" ng-click="AbrirTema('Editar', tema)">
                        <span class="fa fa-pencil fa-2x" ></span>
                    </a>
                </td>

              </tr>
            </tbody>
        </table>
    </div>
    
    <!-- -----------------------Modales -------------------------- -->
	<div class="modal fade" id="modalTema" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal">
           
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ng-click="CerrarTema()"><span aria-hidden="true">&times;</span></button>
                    <span ng-if="operacion == 'Agregar'" class="tituloModal">Agregar Tema</span>
                    <span ng-if="operacion == 'Editar'" class="tituloModal">Editar Tema</span>
                </div>
            </div>
            <br><br><br>
            
            <form name="temaForma">
                <div class="row">
                    <div class="col-sm-12">
                       <div class="entrada2">
                            <input type="text" required class="{{claseTema.nombre}} form-control" name="nombre" ng-model="nuevoTema.Nombre" ng-maxlength="250"/>
                            <label>Nombre</label>
                        </div>
                   </div>             
                </div>
                <br>
                <!-------- mensaje de error ---->
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-repeat="error in mensajeError">
                            <span class="textoError">{{error}}</span>
                        </div>
                    </div>
                </div>
                <br>
                <!---- botones de operacion -->
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn botonFinModal btn-block" data-dismiss="modal" aria-label="Close" ng-click="CerrarTema()">CANCELAR</button>
                    </div>

                    <div class="col-xs-6">
                        <button focus class="btn botonFinModal btn-block" ng-click="TerminarTema(temaForma.nombre.$invalid)">TERMINAR</button>
                    </div>
                </div>
            <br>
            </form> 
            
        </div>
    </div>
    
    
    <div class="modal fade" id="mensajeTema">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal text-center">
           
            
            
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">{{mensaje}}</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn  botonFinModal" data-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

    