<div ng-controller="AplicacionController as aplicacion">
   
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12" >
                <br><br>
                <div class="row">
                    <div class="col-xs-12">
                       <br><br>
                       
                        
                        <div class="row">
                          <div class="col-xs-4" >
                             <button type="button" class="btn btn-default btn-circle btn-xl pull-right">MQR</button>
                          </div>
                          
                          <div class="col-xs-8">
                                <span class="textoBienvenido"> Bienvenido</span><br>
                                <span class="textoPregunta">¿Con qué aplicación deseas trabajar?</span>
                            </div>
                       </div>

                        <div style="margin-top:60px"></div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-3 text-center" ng-repeat="app in apps | orderBy:'texto'">
                                <button ng-disabled="!app.habilitada" style="margin-top:20px" type="button" class="btn btn-default btnCircleApp botnIcono" ng-click="IniciarApp(app)">
                                    <span class="{{app.icono}}"></span>
                                </button>
                                <div style="margin-top: 5px;"></div>
                                <span class="tituloApp">{{app.texto}}</span>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <br>
              
            </div>
        </div>
    </div>
    
</div>

    