<div ng-controller="EtiquetaController as etiqueta">
    
    <!-- -----------------------Modales -------------------------- -->
	<div class="modal fade sombraDivModal" id="modalEtiqueta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal">
           
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ng-click="CerrarEtiquetaModal()"><span aria-hidden="true">&times;</span></button>
                    <span ng-if="operacion == 'Agregar' || operacion == 'AgregarExterior'" class="tituloModal">Agregar Etiqueta</span>
                    <span ng-if="operacion == 'Editar'" class="tituloModal">Editar Etiqueta</span>
                </div>
            </div>
            <br><br><br>
            
            <form name="etiquetaForma">
                <div class="row">
                    <div class="col-sm-6">
                       <div class="entrada2">
                            <input type="text" required class="{{claseEtiqueta.nombre}} form-control" name="etiqueta" ng-model="nuevaEtiqueta.Nombre" ng-maxlength="120"/>
                            <label>Etiqueta</label>
                        </div>
                   </div>
                   
                   <br class="hidden-sm hidden-md hidden-lg">
                         
                     <!-- Activo -->
                    <div class="col-sm-6">
                         <label class="btn checkBoxActivo">Etiqueta Activa <input type="checkbox" class="badgebox" ng-model="nuevaEtiqueta.Activo"><span class="badge">&check;</span></label>
                     </div>
                         
                </div>
                <br>
                <!-------- mensaje de error ---->
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-repeat="error in mensajeError">
                            <span class="textoError">{{error}}</span>
                        </div>
                    </div>
                </div>
                <br>
                <!---- botones de operacion -->
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn botonFinModal btn-block" data-dismiss="modal" aria-label="Close" ng-click="CerrarEtiquetaModal()">CANCELAR</button>
                    </div>

                    <div class="col-xs-6">
                        <button focus class="btn botonFinModal btn-block" ng-click="TerminarEtiqueta(etiquetaForma.etiqueta.$invalid)">TERMINAR</button>
                    </div>
                </div>
            <br>
            </form> 
            
        </div>
    </div>
    
    <div class="modal fade sombraDivModal" id="mensajeEtiqueta">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal text-center">
           
            
            
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">{{mensaje}}</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn  botonFinModal" data-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

    